/* glocal CSS */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto" sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --primary: #669999;
    --heading-color: #003300;
    --bg-shade:#e6ffcc;
    --github: #e62872;
    --darkblue: #001a33;
    --black: #1a0600;
    --white: #ffffff;

}

.btn {
    font-family: "Roboto";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transform: background-color 0.5s;
    -o-transform: background-color 0.5s;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px, solid, var(--primary);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px, solid, var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
}

/* global CSS ends */

/* Main content CSS */
h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
}

.text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.text-md {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-sm {
    color: var(--darkblue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section--title {
    color: var(--heading-color);
    font-size: 21;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    align-items: flex-start;
}

.home--content .content--section--image .block {
    bottom: 50vh;
    max-width: 220px;
    padding: 30px;
    left: -110px;
    position: absolute;
    width: 250px;
    height: 220px;
    border-radius: 100%;
    /* mix-blend-mode: multiply; */
    background-color: #2f514e;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 133.333px;
}